<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<%- include('./partials/head.ejs') %>
<body>
  <nav>
    <img src="/Codeplay_logo.png" class="logo">
    <a href="/about">About us</a>
    <a href="/quizzes">Quiz</a>
    <!-- <% if (user) { %>
      <a href="/auth/logout">Logout</a>
    <% } %> -->
  </nav>
  <div class="profile">
    <h1>Welcome, <%= user.username %></h1>
    <div class="exp-bar">
      <div class="exp-bar-fill" style="width: <%= (user.exp / expTable[user.level - 1]) * 100 %>%;"></div>
    </div>
    <p>Level: <%= user.level %></p>
    <p>EXP: <%= user.exp %> / <%= expTable[user.level - 1] %></p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>