<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/nav.ejs') %>

    <h1><%= quiz.title %></h1>
    <form action="/quizzes/submit/<%= quiz._id %>" method="POST">
        <% quiz.questions.forEach(function(question, index) { %>
            <div class="question-block">
                <h2>Question <%= index + 1 %>: <%= question.question %></h2>
                <% question.options.forEach(function(option, optionIndex) { %>
                    <div>
                        <input type="radio" id="q<%= index %>o<%= optionIndex %>" name="answers[<%= index %>]" value="<%= option %>" required>
                        <label for="q<%= index %>o<%= optionIndex %>"><%= option %></label>
                    </div>
                <% }) %>
            </div>
        <% }) %>
        <button type="submit">Submit Quiz</button>
    </form>

    <%- include('../partials/footer.ejs') %>

</body>
</html>
