<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/swei.css">
  <title>All Quizzes</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <div class="content quiz">
    <h2>All Quizzes</h2>

    <form action="/quizzes" method="GET">
      <label for="language">Filter:</label>
      <select id="language" name="language" onchange="this.form.submit()">
        <option value="" <% if (!selectedLanguage) { %>selected<% } %>>All</option>
        <option value="Java" <% if (selectedLanguage === 'Java') { %>selected<% } %>>Java</option>
        <option value="Python" <% if (selectedLanguage === 'Python') { %>selected<% } %>>Python</option>
        <option value="JavaScript" <% if (selectedLanguage === 'JavaScript') { %>selected<% } %>>JavaScript</option>
      </select>
    </form>
    
    <% if (quizzes.length > 0) { %>
      <% quizzes.forEach(quiz => { %>
        <a class="single" href="/quizzes/<%= quiz._id %>">
          <h3 class="title"><%= quiz.title %></h3>
          <p class="author"><%= quiz.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no quizzes to display...</p>
    <% } %>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>
</html>
