<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/swei.css">
  <title>Quiz Result</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <br><br><br><br>
  <div class="content container">
    <h1><%= quiz.title %> - Results</h1>
    <ul class="stats" id="stats">
      <span class="score">Your Score: <%= score %> / <%= quiz.questions.length %></span>
      <span class="expEarned">Experience Gained: <%= expGained %></span>
      <span class="currentLvl">Current Level: <%= level %></span>
      <span class="totalExp">Total Experience: <%= totalExp %></span>
    </ul>
    
<br><br>
    <% quiz.questions.forEach((question, index) => { %>
      <div class="question-block">
        <h2 class="question-title">Question <%= index + 1 %>: <%= question.question %></h2>
        <div class="options">
          <% question.options.forEach((option, optionIndex) => { 
              const isCorrect = question.correctAnswer === option;
              const userAnswer = detailedResults[index] ? detailedResults[index].userAnswer : null;
              const isSelected = userAnswer === option;
              const optionClass = isCorrect ? 'correct' : (isSelected ? 'incorrect' : '');
          %>
            <div class="ansBox option <%= optionClass %>">
              <input 
                type="radio" 
                id="q<%= index %>o<%= optionIndex %>" 
                name="answers[<%= index %>]" 
                value="<%= option %>" 
                <%= isSelected ? 'checked' : '' %> 
                disabled 
                aria-label="Option <%= optionIndex + 1 %> <%= isCorrect ? 'Correct' : (isSelected ? 'Incorrect' : '') %>">
              <label for="q<%= index %>o<%= optionIndex %>"><%= option %></label>
            </div>
          <% }) %>
        </div>
      </div>
    <% }) %>

    <br>

  <%- include('../partials/footer.ejs') %>
</body>
</html>
