<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/swei.css">
  <title>Quiz Result</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>

  <div class="content container">
    <h1 class="quiz-title">Quiz Result</h1>
    <h2 class="quiz-title"><%= quiz.title %></h2>
    <p class="quiz-result">You scored <%= score %> out of <%= quiz.questions.length %>.</p>
    <p class="quiz-result">Experience Gained: <%= expGained %></p>
    <p class="quiz-result">Experience to next level: <%= expTable[level - 1] - exp %></p>
    <p class="quiz-result">Total Experience: <%= totalExp %></p>
    <p class="quiz-result">Level: <%= level %></p>
    <% if (levelUp) { %>
      <p class="quiz-result">Congratulations! You leveled up!</p>
    <% } %>
    <a href="/quizzes" class="btn">Back to All Quizzes</a>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>
</html>
